body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5733;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.food-card {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.food-card button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.food-card button:hover {
    background-color: #e74c3c;
}

.cart {
    background-color: rgb(66, 90, 196);
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}